---
import '../styles/global.css'
const pageTitle = "About me";
---
<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>

	<body>
		<h1>About</h1>
  <p>I am a highly motivated and adaptable full-stack developer based in the UK with nearly a decade of experience in the field. My expertise revolves around modern JavaScript and TypeScript technologies, including:</p>
	</body>
