---

---

	<body>
		<h1>About</h1>
  <p>I am a highly motivated and adaptable full-stack developer based in the UK with nearly a decade of experience in the field. My expertise revolves around modern JavaScript and TypeScript technologies, including:</p>
	</body>
